body{
	font-family: 'Oxygen', sans-serif;
}
.reveal section img.no-border {
  margin: 15px 0px;
  background: none;
  box-shadow: none;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; 
  border: none;
}
.barra-colores {
	width: 1.5%;
	height: 100%;
	float: left;
}
.verde {
	background-color: #99cc33;
	height: 33.3%;
	width: 100%;
}
.rojo {
	background-color: #e42322;
	height: 33.3%;
	width: 100%;
}
.azul {
	background-color: #00afef;
	height: 33.3%;
	width: 100%
}
.reveal .slides{
	width: 80% !important; 
}
.reveal header>h2{
	font-family: 'Oxygen', sans-serif;
	color: #fff;
	text-transform: none;
	text-align: left;
	font-size: 1em;
	margin: 0 0 1.2em 0.5em;
	padding: 0.6em 0.6em 0.6em 2.7em;
	background: url(../img/logo-simbolo-header.jpg) left center no-repeat #e42322;
	background-size: contain;
}
.reveal .contenido{
	text-align: left;
	overflow: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
}
.reveal .contenido p {
	text-align: justify;
	font-family: 'Oxygen', sans-serif;
	font-size: 0.6em;
	padding: 0 2em 0 0;
	line-height: 1.5em;
	margin-bottom: 1.2em;
}
.reveal ul>li {
	font-family: 'Oxygen', sans-serif;
	font-size: 0.6em;
	list-style: square;
}
.reveal .img-contenedor{
	float: left;
	width: 38%;
	height: 100%;
	margin-right: 0.5em;
	margin-left: 0.5em;

}
.reveal .texto-contenedor{
	width: 55%;
	float: right;
}
.reveal section .contenido img.img-contenido{
	width: 100% !important;
	height: auto !important;
}